#ignore object files
*.o
#ignore swp files
*.swp
#ignore a.out. SOmetimes I run c++ *.cpp
*.out
#ignore figures
*.jpg
#ignore output files
T
#ignore .vscode folder
.vscode/
#ignore specific files
1_d1q2
d1q3
2_d1q2
1_d1q2.cppp
